Repository f3rno64/mass-git-scripts: changes, and which lint-staged commands are due for each by the changed paths.
All: shellcheck, markdownlint

refactor: rm node stuff, add makefile instead
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  CHANGELOG.md
  Makefile
  commitlint.config.ts
  git-clone-all
  git-pull-all
  lib/colors.sh
  package.json
  pnpm-lock.yaml
Due: shellcheck

fix: readme
  README.md
Due: markdownlint

fix: typo
  git-pull-all
Due: shellcheck

feat: finish README, add node manifest for remark
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
Due: markdownlint

feat(README): add screenshot to readme
  README.md
  res/git_clone_all_example.png
Due: markdownlint

[ImgBot] Optimize images
  res/git_clone_all_example.png
Due: none

feat: check for presence of parallel bin and abort if missing
  git-clone-all
Due: shellcheck

Path conditions:
  shellcheck: ((any of: git-pull-all) or (any of: git-clone-all)) or (any of: ./lib/*.sh)
  markdownlint: any of: README.md
